#box1 {
    background-color: darkgray;
    height: 33.3vh;
    width: 100vh;
    margin: 0%;
}

#box2 {
    background-color: indianred;
    height: 33.3vh;
    width: 100vh;
}

#box3 {
    background-color: darkgrey;
    height: 33.3vh;
    width: 100vh;
}