* {
    font-family: 'Pattaya', sans-serif;
    margin: 0%;
    padding: 0%;
}


#box1 {
    background-color: white;
    height: 30vh;
    width: 100vw;
    margin-left: 0%;
}

#littlebox1 {
    background-position: 50% 50%;
    height: 0.5px;
    width: 0.5px;
}

#box2 {
    background-color: #38618F;
    height: 30vh;
    width: 100vw;
    margin: 0%;
}

#box3 {
    background-color: white;
    height: 30vh;
    width: 100vw;
}

#box4 {
    background-color: #FF6745;
    height: 30vh;
    width: 100vw;
}

#box5 {
    background-color: white;
    height: 30vh;
    width: 100vw

}

#buttonclick {
    background-color: #C7C5B8;
    margin: 0%;
    padding: 1%;
}

#button ,#button2, #button3, #button4, #button5, #button6, #button7, #button8, #button9 {
    width: 50px;
    height: 25px;
    border-radius: 50px;
    background-color: cornsilk;
    border: 2px solid whitesmoke;
}

#button:hover, #button3:hover, #button5:hover, #button7:hover, #button9:hover {
    transition: 0.5s;
    background-color: #C7C5B8;
}

#button2:hover, #button4:hover, #button6:hover, #button8:hover {
    transition: 0.5s;
    background-color: #FD9735;
}

#last {
    background-color: #C7C5B8;
    text-align: center;
    letter-spacing: 3px;
}

