* {
  margin: 0;
  padding: 0;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

body {
  background: #2c3e50;
  color: #ecf0f1;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

.title {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: #e74c3c; 

}

.title h1 {
  font-size: 3.5em;
}

.one {
  margin-top: 70px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  background: #27ae60;
  text-align: center;
  cursor: pointer;
}

.three {
  margin-top: 70px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  background: #2980b9;
  text-align: center;
  cursor: pointer;
}

.four {
  margin-top: 70px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  background: #f39c12;
  text-align: center;
  cursor: pointer;
}

.five {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  background: #f39c12;
  text-align: center;
}

.two {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  background: #27ae60;
  text-align: center;
}

.blue {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  background: #2980b9;
  text-align: center;
}


.padding {
  padding: 20px;

}

#last {
  background-color: #e74e3c;
  text-align: center;
  letter-spacing: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.change {
  cursor: pointer;
}

.change h2 {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}



#button {
  transition: 0.5s;
  border-radius: 50px;
  border: 1.5px solid #2c3e50;
  height: 40px;
  width: 140px;
  padding-bottom: 2%;
  padding-top: 1%;
  margin: 2%;
  background-color: silver;
  letter-spacing: 4px;
  cursor: pointer;

}

#button:hover {
  transition: 0.5s;
  background-color: #A2B75C;
}

