* {
  margin: 0;
  padding: 0;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

body {
  background: #2c3e50;
  color: #ecf0f1;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

.title {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: #e74c3c;

}

.title h1 {
  font-size: 3.5em;
}

.one {
  margin-top: 70px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  background: #27ae60;
  text-align: center;
  cursor: pointer;
}

.three {
  margin-top: 70px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  background: #2980b9;
  text-align: center;
  cursor: pointer;
}

.two {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  background: #27ae60;
  text-align: center;
}

.blue {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  background: #2980b9;
  text-align: center;
}


.padding {
  padding: 20px;

}

#last {
  background-color: #FEC748;
  text-align: center;
  letter-spacing: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
}
