#head {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 4em;
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
}

#topbox {
    background-image: url('./pic/bg1.jpg');
    background-attachment: fixed;
    color: rgba(0, 0, 0, 0.877);
    background-position: 78% 22%;
    filter: drop-shadow(8px 8px 20px rgb(246, 201, 226));
    filter: opacity(60%);
    letter-spacing: 15px;

}

body {
    font-family: 'Athiti', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

#firstbox {
    background-color: rgb(229, 226, 226);
    filter: opacity(90%);
}

#secondbox {
    background-color: mistyrose;
    filter: opacity(90%);
}

#thirdbox {
    background-color: moccasin;
    filter: opacity(90%);
}